:root {
    --red: #d30606;
    --white_1: #fafafa;
    --white_2: #f9f9f9;
    --white_3: #ddd;
    --white_back: #fff;
    --deep_black: #000000;

    /* type colors */
    --fire: #f08030;
    --water: #6890f0;
    --grass: #78c850;
    --electric: #f8d030;
    --ice: #98d8d8;
    --fighting: #c03028;
    --poison: #a040a0;
    --ground: #e0c068;
    --flying: #a890f0;
    --psychic: #f85888;
    --bug: #a8b820;
    --rock: #b8a038;
    --ghost: #705898;
    --dark: #705848;
    --dragon: #7038f8;
    --steel: #b8b8d0;
    --fairy: #ee99ac;
}

body {
    font-family: "Arial", sans-serif;
    background-color: var(--white_back);
    color: var(--deep_black);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--red);
    color: var(--white_back);
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
}

header label {
    margin-right: 10px;
    font-size: 1.2em;
}

header input[type="text"] {
    padding: 10px;
    border: 2px solid var(--deep_black);
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#search-button {
    background-color: var(--deep_black);
    color: var(--white_back);
    padding: 10px 20px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#search-random {
    background-color: var(--deep_black);
    color: var(--white_back);
    padding: 10px 20px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    vertical-align: bottom;
}

header button {
    background-color: var(--deep_black);
    color: var(--white_back);
    padding: 10px 20px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

header button:hover {
    background-color: #3a3a3a;
    color: var(--white_1);
    transform: scale(1.05);
    transition: transform 0.2s;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--white_back);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-container,
.bottom-container {
    width: 100%;
    margin-bottom: 20px;
}

.name-and-id,
.size,
.sprite-container,
#types {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--white_3);
}

th {
    background-color: var(--deep_black);
    color: var(--white_back);
}

td {
    background-color: var(--white_2);
}

/* types */
.type {
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    color: #fff;
}

.fire {
    background-color: var(--fire);
    border: 1px dashed #c06020;
}

.water {
    background-color: var(--water);
    border: 1px dashed #4860a8;
}

.grass {
    background-color: var(--grass);
    border: 1px dashed #5c9440;
}

.electric {
    background-color: var(--electric);
    border: 1px dashed #c8a028;
}

.ice {
    background-color: var(--ice);
    border: 1px dashed #78b8b8;
}

.fighting {
    background-color: var(--fighting);
    border: 1px dashed #a02020;
}

.poison {
    background-color: var(--poison);
    border: 1px dashed #803080;
}

.ground {
    background-color: var(--ground);
    border: 1px dashed #c0a050;
}

.flying {
    background-color: var(--flying);
    border: 1px dashed #8878c0;
}

.psychic {
    background-color: var(--psychic);
    border: 1px dashed #c03060;
}

.bug {
    background-color: var(--bug);
    border: 1px dashed #889820;
}

.rock {
    background-color: var(--rock);
    border: 1px dashed #947828;
}

.ghost {
    background-color: var(--ghost);
    border: 1px dashed #504070;
}

.dark {
    background-color: var(--dark);
    border: 1px dashed #504038;
}

.dragon {
    background-color: var(--dragon);
    border: 1px dashed #5028c8;
}

.steel {
    background-color: var(--steel);
    border: 1px dashed #9090b0;
}

.fairy {
    background-color: var(--fairy);
    border: 1px dashed #cc798c;
}

.normal {
    background-color: #a8a878;
    border: 1px dashed #a8a878;
}

#sprite {
    width: 200px;
    height: 200px;
}

/* media queries */

@media (min-width: 600px) {
    header form {
        flex-direction: row;
    }

    header input[type="text"] {
        width: 300px;
        margin-bottom: 0;
    }

    .container {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 60%;
    }
}
